body {
    /*background-color: #1C0A00;*/
    background: url(themes/base/images/bg-books.png);
    background-size: 1080px;
    font-family: 'Kaushan Script', cursive; 
    font-size:24px;
    color: black;
    margin:0;
    padding:10px;
}

#mycontainer{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}

#mymenu1{
    height: 100px;
    width:260px;
    float:left;
}
#mymenu3{
    font-size:18px;
    height:100px;
    width:260px;
    float:right;
}
#mymenu2{
    height: 100px;
    width:260px;
    float:left;
    margin-left:125px;
}

#mymenu{

}
.mybuttons{
    background-color:#403830;
    float:left;
    width:40px;
    height: 40px;
    text-align:center;
    color:black;
    font-weight:bold;
    border-radius: 40px;
    margin:5px;
    padding-top:3px;
    /*text-indent: -9999px;*/
}

.mybuttons:hover,.mybuttons2:hover {
    background-color:#27211d;  /*EDC387;*/
    color: black;
    text-decoration: none;
    color:white;
}
.mybuttons2{
    background-color:#72665a /*#701500*/ ;
    float:right;
    width:90px;
    height: 30px;
    text-align:center;
    color:black;
    font-weight:bold;
    border-radius: 20px;
    margin:5px;
    /*padding-bottom:5px;*/
    padding-top:1px;
}

#mymenubtn{

}
#mymenuname{
    font-weight:700;
    color:white;
    margin-right:68px;
    margin-top:10px;
    text-align:center;
}
#myrenderbody{
        /*background-color:#662400;*/
        padding:10px;
        border-radius:30px;
}

#mywelcome{
    background-color:#EDC387;
    font-size:54px;
    font-weight:700;
    border-radius: 30px;
    text-align:center;
    margin:10px 0px;
    color:black;
    padding-bottom:7px;
}

#myquiet{
    background-color:#9a7d52;
    color:black;
    text-align:center;
    width:400px;
    float:right;
    border-radius: 12px;
}


h2{
    color:black;
    background-color:#EDC387;
    text-align:center;
    font-size:34px;
    font-weight:900;
    font-family: 'Kaushan Script', cursive; 
    margin:0;
}

.mycontainer2{
    font-size:18px;
}

.ordinarybtn{
    background-color:#72665a;
    /*float:left;*/
    min-width:80px;
    height: 30px;
    text-align:center;
    color:black;
    font-weight:bold;
    border-radius: 10px;
    /*padding-bottom:10px;*/
    border:none;
    /*margin:5px;*/
}

.ordinarybtn:hover {
    background-color:#27211d;
    color:white;
}

#myundertitle{
    margin-top:10px;
    margin-bottom:10px;
}

.mylist{
    color:white;
}

.mylist:hover{
    color:#d0d0d0;
    text-decoration:none;
}

footer{
    font-size:16px;
}

.modal .modal-dialog {
     width: 300px; 
     color:black;
}
.modal-content {
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;
     -webkit-border-bottom-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    -moz-border-radius-bottomright: 20px;
     border-bottom-left-radius: 20px;
     background-color:transparent;
}

.modal-header {
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;
     background-color:#403830;color:white;
 }


.modal-body{
     -webkit-border-bottom-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    -moz-border-radius-bottomright: 20px;
     border-bottom-left-radius: 20px;
     background-color:#EDC387;

}