@model IEnumerable<Library.Models.Book>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.Action("Create")
</p>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
<script src="~/Scripts/jquery-2.2.0.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<form id="search-form" method="get" data-ajax="true" data-ajax-target="#booklist-section" data-ajax-update="#booklist-section" >
    <div> Search Title</div>
    <input id="SearchQuery" name="searchQuery" placeholder="Enter Title"/>
    <input type="submit" value="szukaj" />
</form>
@Html.Partial("_BookList")

Click to check actual time
<input type="submit" value="Button" id="ButtonID" class="btn btn-default" />
<p id="rData">
    I am waiting for click...
</p>

@section scripts
{
<script type="text/jscript">
    function Success(result) {
        $("form")[0].reset();                                       // pro forma
        $("#userMessage").html(result + " was created properly");   // pro forma
        setTimeout(function () {
            $("#createModal").modal('hide').fadeIn('fast');
            $("#userMessage").html(result + " was created properly").fadeOut('fast');
        }, 1000);
        ;
        //alert(result + " was created properly"); // message in window
    }
    function Failure() {
        $("#userMessage").html("Occured some mistake...");
        setTimeout(function () {
            $('#userMessage').fadeOut('fast');
        }, 1000);
    }
    $('#ButtonID').click(function () {
        var url = "Books/TellMeDate";
        $.get(url, null, function (data) {
            $("#rData").html(data);
        });
    })
</script>
}
