@Html.ModalHeader("Tytul")
@using (Html.ModalBody())
{
    <p>Mamo ja żyję!</p>

    using (Html.ModalFooter())
    {
        <button type="button" class="btn" data-dismiss="modal">Close</button>
    }
}


