@{
    ViewBag.Title = "Home Page";
}


    <div id="mywelcome">Welcome in Library!</div>


    <div class="myleft">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis tellus sed massa mollis ultricies quis ac lacus. Maecenas quis ultrices leo. Donec vel lorem leo. Sed ac nulla purus. Ut tincidunt sodales urna. Ut posuere pulvinar ipsum, quis fermentum leo euismod in. Nullam gravida at tortor eget volutpat. Praesent volutpat mattis est, in sagittis metus finibus vel. Maecenas eget blandit neque. Ut gravida lacinia nibh, ac interdum est tincidunt sed. Suspendisse laoreet sit amet lectus eu volutpat. Nunc ac massa eleifend metus vulputate consequat non vitae metus. Etiam ut pulvinar lorem.

        Fusce malesuada arcu id venenatis lobortis. Nunc hendrerit ullamcorper felis commodo sollicitudin. Sed vitae consectetur magna. Donec et risus massa. Etiam viverra bibendum risus. Maecenas vulputate leo nec lorem maximus consequat. Integer ullamcorper, nunc non accumsan dignissim, massa tortor blandit metus, eu ultricies est ligula quis quam. Nunc euismod pulvinar eros, vitae aliquet nisi ultricies eget. Donec scelerisque ut sapien ut tempus. Nullam id dignissim diam.
    </div>
    <div class="myright">
        Place for your ad! ;)
    </div>
    <div style="clear:both"></div>
